body {
    background-color: #DFEEEA;
    font-family: 'Lora', serif;
    color: #2F5D62;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #5E8B7E;
    border-width: 8px;
    width: 6%;
}

h1 {
    color: #2F5D62;
    font-family: 'Oooh Baby', cursive;
    font-size: 30pt;
}

h2 {
    color: #5E8B7E;
    font-family: 'Raleway', sans-serif;
}

th, td {
    padding: 5px;
}

/*CLASS SELECTORS*/

.circular {
    border-radius: 100%;
}

.button {
    display: inline-block;
    border-radius: 50%;
    background-color: #2F5D62;
    border: none;
    color: beige;
    padding: 10px 24px;
    text-align: center;
    font-size: 20px;
}

.container{
    text-align: center;
}